<app-home (onChangeType)="changeType($event)"></app-home> 

<button style="position:relative;top:90px;left:630px ;" (click)="navigate('memoryGame')" type="button" class="btn btn-outline-info">Memory Game</button>
<button style="position:relative;top:90px;left:730px ;"  (click)="navigate('completionGame')" type="button" class="btn btn-outline-info">Completion Game</button>
 <br>
 
 
  <!-- <div class="sidenav">
    <a mat-raised-button
    matTooltip="Info about the action"
    aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="right" href="#about">About</a>
    <a href="#services">Services</a>
    <a href="#clients">Clients</a>
    <a href="#contact">Contact</a>
  </div>
   -->