<app-practice ></app-practice>
<div class="sidenav"> <div *ngIf="type=='Letters'">
  <a mat-raised-button
  matTooltip="Info about the action"
  aria-label="Button that displays a tooltip when focused or hovered over" matTooltipPosition="right" >Choose Size</a>
 
  <div>
  <input  type="radio"  name="one"  (click)="changeSize(2)">
  <h3>2x2</h3></div>
  <input   type="radio" name="one"  checked="checked" (click)="changeSize(4)">
  <h3>4x4</h3>
  <input  type="radio" name="one" (click)="changeSize(6)" >
  <h3>6x6</h3></div>
  <!-- <a href="#services">Services</a> -->
 
</div>
  <div >
    <div style="position: relative; top: 150px;left:90px;" class="grid p-16">
      <app-game-card  *ngFor="let c of chooseCards;let idx=index"  [data]="c" (cardClicked)="cardClicked(idx)">
      </app-game-card>
    </div>
  </div> 


 

  <p-dialog [(visible)]="finish">
    <div class="btn btn-primary btn-square-md">
    <h1>Well done!!</h1>
    <br>
    <h1>You have successfully completed the game</h1>
  </div>
    </p-dialog>
   