<app-home></app-home>
<form [formGroup]="signInForm">
  <form class="register">

    <p class="h4 mb-4">Sign up</p>

    <div class="form-row mb-4">
      <div class="col">
        <input #Firstname formControlName="userFirstName" type="text" id="defaultRegisterFormFirstName"
          class="form-control" placeholder="First name">
      </div>
      <div class="col">
        <input #Lastname formControlName="userLastName" type="text" id="defaultRegisterFormLastName"
          class="form-control" placeholder="Last name">
      </div>
    </div>

    <input #Email formControlName="userEmail" type="email" id="defaultRegisterFormEmail" class="form-control mb-4"
      placeholder="E-mail">

    <input #Password formControlName="userPassword" type="password" id="defaultRegisterFormPassword"
      class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
      At least 8 characters and 1 digit
    </small>


    <button (click)="signIn(Firstname.value ,Lastname.value,Email.value,Password.value)" mdbBtn color="info"
      block="true" type="submit" class="form-control mb-4"
      style=" margin: 25px 50px 75px 100px;background-color: cornflowerblue;">Sign in</button>
    <hr>

  </form>
</form>